<div class="inner-container row-fluid">
  <div class="span9">
    <p class="lead url" title="{{url}}">{{url}}</p>

    {{#if reputationId}}
    <div class="categories">
      {{#each categories}}
      <span class="category">{{this}}</span>
      {{/each}}
    </div>
    {{else}}
    <p class="uncategorized">
    This URL has not yet been categorized. It has been submitted for classification.
    </p>
    {{/if}}
  </div>

  {{#if reputationId}}
  <div class="span3 reputation reputation{{reputationId}}">
    <div class="reputation-img-container">
      <div class="aspect"></div>
      <div class="img"></div>
    </div>
    <p>{{reputation}}</p>
  </div>
  {{/if}}
</div>

<div class="controls">
  <button class="btn btn-large btn-primary lookup" title="Lookup another URL">Lookup Another URL</button>
  {{#if reputationId}}
  <button class="btn btn-large btn-warning report" title="Report this URL as miscategorized">Miscategorized?</button>
  {{/if}}
</div>
